@import "../../shared/scss/shared-style.scss";

//global


//benefits-banner-container


//list-of-benefits


//expert-skill-info-container
.expert-skill-info-container {
  display: flex;
}

@media (max-width: 1140px) {
  .expert-skill-info-container {
    justify-content: center;
  }
}

.expert-skill-info-img {
  position: relative;
  display: flex;
  align-items: center;
  height: 405px;
  flex-basis: 50%;

  &__bg {
    position: absolute;
    width: 116px;
    height: 100%;
    background: #5350FF;
    border-radius: 5px 0 0 5px;
    z-index: 1;
  }

  img {
    position: relative;
    max-width: 486px;
    max-height: 375px;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-left: 15px;
  }
}

@media (max-width: 1140px) {
  .expert-skill-info-img {
    display: none;
  }
}

.expert-skill-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;

  &__title {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 1140px) {
  .expert-skill-info {
    flex-basis: 830px;
  }
}

@media (max-width: 640px) {
  .expert-skill-info p {
    line-height: 24px;
    word-break: break-all;
  }
}

//verified-reviews-container


//tariff-wrapper

//service-benefits-list-wrapper
.service-benefits-list-wrapper {
  background-image: url("../img/service-benefits-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 114px;
}

.service-benefits-list-title {
  text-align: center;

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
  }

  &__subtitle {
    max-width: 689px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }
}

.service-benefits-list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 992px) {
  .service-benefits-list-container {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}

.service-left-benefits-list, .service-right-benefits-list {
  max-width: 400px;
  width: 100%;
  text-align: right;

  &__item {
    margin-bottom: 30px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    line-height: 21px;
  }
}

@media (max-width: 992px) {
  .service-left-benefits-list, .service-right-benefits-list {
    max-width: 510px;
    text-align: left;
  }
}

.service-center-benefits-bg {
  max-width: 100%;
  padding-right: 22px;
  padding-left: 22px;

  img {
    width: 100%;
    object-position: center;
    object-fit: contain;
  }
}

@media (max-width: 992px) {
  .service-center-benefits-bg {
    padding-right: 0;
    padding-left: 0;
  }
}

.service-right-benefits-list {
  text-align: left;
}

//service-info
.service-info-container {
  margin-top: 114px;
  display: flex;
  align-items: center;
}

@media (max-width: 1140px) {
  .service-info-container {
    justify-content: center;
  }
}

.service-info {
  flex-basis: 50%;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__text-container {
    line-height: 27px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__text:last-child {
    margin-bottom: 0;
  }

  &__inner-text-heading {
    display: flex;
    margin-bottom: 15px;
  }
}

@media (max-width: 1140px) {
  .service-info {
    flex-basis: 830px;
  }
}

.service-info-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 564px;
  flex-basis: 50%;

  &__bg {
    position: absolute;
    right: 0;
    width: 116px;
    height: 100%;
    background: #5350FF;
    border-radius: 5px 0 0 5px;
    z-index: 1;
  }

  img {
    position: relative;
    max-width: 486px;
    max-height: 534px;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-right: 15px;
    object-position: center;
    object-fit: cover;
  }
}

@media (max-width: 1140px) {
  .service-info-img {
    display: none;
  }
}

//most-faq
.most-faq-container {
  margin-top: 114px;
}

.most-faq-title {
  text-align: center;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    max-width: 684px;
    margin: auto;
  }
}

.most-faq-list {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-top: 46px;

  &__item {
    position: relative;
    box-sizing: border-box;
    max-width: 570px;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 26px;

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__item::before {
    //display: inline-block;
    position: absolute;
    left: 0;
    content: ' ';
    background-image: url('../img/most-faq-list-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30px;
    width: 30px;
  }

  &__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (max-width: 414px) {
  .most-faq-title p {
    line-height: 20px;
    word-break: break-all;
  }

  .most-faq-list__item p {
    line-height: 22px;
  }
}

@media (max-width: 375px) {
  .most-faq-list {
    &__item {
      padding-left: 30px;
    }

    &__item::before {
      top: 5px;
      width: 22px;
      height: 22px;
    }
  }
}


@media (max-width: 1210px) {
  .most-faq-list {

    &__item {
      max-width: 600px;
      margin-right: 0 !important;
      margin-bottom: 15px;
    }
  }
}

//location
.location-container {
  margin-top: 114px;
}

.location-title {
  text-align: center;
  margin-bottom: 15px;
}

.location-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #ECECEC;
    border-radius: 5px;
  }

  &__item:hover {
    color: $blue;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 768px) {
  .location-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 414px) {
  .location-list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 15px;
  }
}

//help-container
.help-container {
  margin-top: 114px;
}

.help-container-title {
  text-align: center;
  margin-bottom: 30px;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    max-width: 823px;
    margin: auto;
  }

  span {
    color: $blue;
  }
}

.help-container-list {
  border: 2px solid #ECECEC;
  border-radius: 5px;
  padding: 30px .75rem;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 1030px;
    width: 100%;
  }

  &__collapse-btn {
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: #F8F9FC;
    border-radius: 5px;
    height: 50px;
  }

  .card-body {
    padding-left: 30px;
    border: none;
  }

  &__collapse-icon {
    position: absolute;
    right: 24px;
    transition: .4s;
  }
}

.accordion-open svg {
  transform: rotateZ(180deg);
}

@media (max-width: 1200px) {
  .help-container-list__item {
    max-width: 100%;
    width: auto;
  }
}

@media (max-width: 640px) {
  .help-container-list {
    padding: 30px .5rem;

    //&__item {
    //  padding-left: 20px;
    //}

    &__collapse-icon {
      width: 18px;
    }
  }
}
